{
  "extends": [
    "formidable/configurations/es6-react",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "import/no-unresolved": "off",
    "no-magic-numbers": "off",
    "prettier/prettier": [ "error", { "trailingComma": "es5" } ],
    "react/prop-types": "off"
  },
  globals: {
    "graphql": false
  }
}
