{
  "extends": [
    "formidable/configurations/es6-react",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "react/prop-types": "off",
    "import/no-unresolved": "off",
    "prettier/prettier": [ "error", { "trailingComma": "es5" } ]
  },
  globals: {
    "graphql": false
  }
}
