@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background-gradient: linear-gradient(
    19deg,
    #faaca8 0%,
    #ddd6f3 50%,
    #ffffff 100%
  );

  /* Tailwind Purple 600 */
  --primary-color: #9333ea;
  /* Tilwind rose-300 */
  --highlight-color: #fda4af;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-gradient);
}
