.app-layout {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  gap: 1rem;
}

.app-layout > header {
  grid-area: header;
}

.app-layout > main {
  grid-area: main;
}

.app-layout > footer {
  grid-area: footer;
  text-align: center;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* https://www.joshwcomeau.com/css/full-bleed/ */
.main-layout {
  display: grid;
  grid-template-columns:
    1fr
    min(90ch, 100%)
    1fr;
}

.main-layout > * {
  grid-column: 2;
}
